/* left div */
.left {
  max-width: 700px;
}

/* Minerva Grades */
.title {
  padding: 3rem 5rem;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;

  color: #000000;
  white-space: nowrap;
}

/* A Dashboard Tool For Minerva Students to Understand Their Grades! */
.big-intro {
  padding: 20px 5rem;
  width: 80%;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;

  color: #000000;
}

/* Welcome back! Please enter your session ID. */
.small-intro {
  padding: 0px 5rem 40px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */

  color: rgba(0, 0, 0, 0.6);

  white-space: nowrap;
}

.sessionid-container {
  /* format sessionid input box */
  padding: 20px 5rem;  
  /*border: 1px solid #000000;*/
  box-sizing: border-box;
}

/* How to Find Your Session ID */
.form-group a {
  float: right;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */

  text-decoration-line: underline;
  color: rgba(0, 0, 0, 0.61);
  white-space: nowrap;
}

input[type="submit"] {
  /* format the sessionid submit button */
  padding: 20px 5rem;  

  font-size: 14px;
  border: none;
  outline: none;

  background: #000000;
  box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.25);

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}

.alert {
  float: right;
}

.img {
  /* format the image */
  position: absolute;
  left: 49.65%;
  right: 4.78%;
  top: 20.61%;
  bottom: 13.64%;
  vertical-align: middle;

  /* The z-index property specifies the stack order of an element. */
  z-index: -1;
}

.right {
  /* Right 6 */
  position: absolute;
  width: auto;
  height: 723px;
  left: 690px;
  top: 0px;

  background: #f0871d;
  z-index: -1;
}

.topnav #Home {
  /* Home */
  position: absolute;
  width: 65px;
  height: 28px;
  left: 60px;
  top: 50px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 28px;

  color: #000000;
}

.topnav #About {
  /* About */
  position: absolute;
  width: 65px;
  height: 28px;
  left: 140px;
  top: 50px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 28px;

  color: #000000;
  white-space: nowrap;
}

.topnav #Contact {
  /* Contact */
  position: absolute;
  width: 65px;
  height: 28px;
  left: 255px;
  top: 50px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 28px;

  color: #000000;
}

/* Login Spinner */
#loading img {
  width: 200px;
}