<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Minerva Grades</title>
    <link rel = "stylesheet" href = "style.css">
</head>
<body>
    <div class = 'top-container'>

    </div>
        <div class = 'nav-container'>
            <div class = 'wrapper'>

                    <div class = "logo">
                        Minerva Grades
                    </div>
                    <div class = "search-frame">
                        <div class = "search-box">
                            <img class = "search-btn" src="images/search.svg" alt="search button">
                            <input type="text" placeholder="Search Everything">
                        </div>

                        <div class = "avatar">
                            <img class = "line_2" src="images/line2.svg" alt="line_2">
                            <img class = "toyface" src="images/ToyFaces.png" alt="avatar-face">
                        </div>
                    </div>
                <nav class = "nav-items">
                    <ul>
                        <li class = 'Dashboard-frame'>
                            <img src="images/home-select.svg" alt="dashboard-icon">
                            <a href="#" class = 'text_focus'>Dashboard</a>
                        </li>
                        <li class = 'HC-frame'>
                            <img src="images/chart.svg" alt="HC-icon">
                            <a href="#" class = 'text_normal'>HCs</a>
                        </li>
                        <li class = 'Documents-frame'>
                            <img src="images/documents.svg" alt="Courses-icon">
                            <a href="#" class = 'text_normal'>Courses</a>
                        </li>
                        <li class = 'Settings-frame'>
                            <img src="images/settings.svg" alt="Settings-icon">
                            <a href="#" class = 'text_normal'>Settings</a>
                        </li>
                        <li class = 'Logout-frame'>
                            <img src="images/logout.svg" alt="logout-icon">
                            <a href="#" class = 'text_normal'>Log Out</a>
                        </li>
                    </ul>
                </nav>
            </div>
    </div>
    <div class = "Line1">
    </div>
    <div class = "help-button">
        <img class = "help-button-out" src="images/_.svg" alt="help-button-out">
        <img class = "help-button-in" src="images/Ellipse1.svg" alt="help-button-in">
        <a href="#">Help</a>
    </div>
    <div class = "top-nav">
        <p class = 'greeting'>
            Hi User! Welcome!
        </p>
    </div>
    <div class = "summary_stats">
        <div class="Card">

        </div>
    </div>
    <div class = "historical">
        <div class = "main-graph">
            <div class = "graph-header">
                <div class = "estimated-GPA">
                    <div class = "estimated-GPA-top">
                        3.5
                    </div>
                    <div class = "estimated-GPA-bottom">
                        <div>
                            Estimated GAP
                        </div>
                        <div class = "trend">

                        </div>
                    </div>

                </div>
                <div class = Transfer-HCs">

                    Transfer HCs
                </div>

            </div>
            <div class = "viz">
                <img class = "dataviz" src="images/fullgraph.png" alt="dataviz">
            </div>

        </div>
        <div class = "additional-info">
            <div>
                HCs To Apply
                <a href="#">#distributions</a>
            </div>
            <div>Strong HC</div>
            <div>Course1 - LO to Apply</div>
            <div>Course2 - LO to Apply</div>
            <div>Course3 - LO to Apply</div>
        </div>

    </div>
</body>
</html>