/* set the basic styles of the doc */
* {
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: "Roboto", sans-serif;
    background: #FFFFFF;
}

/* set properties of the top-container */
.top-container{
    height: 89px;
    float: top;
}

/* set properties of the navigation container */
.nav-container{
    background-color: #ffffff;
    width: 299px;
    height: 727px;
    float: left;
    border-right: 1px solid rgba(0, 0, 0, 0.8);
}

/* set properties of the Minerva Grades logo */
.logo{
    position: absolute;
    left: 28px;
    top: 86px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;

    color: #0D78BE;
}

/* set properties of the search button */
.search-btn {
    position: relative;
    top: 8px;
}

/* set properties of the search frame */
.search-frame {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: 269px;
    height: 40px;
    left: 21px;
    top: 140px;

}

/* set properties of the search box */
.search-box {
    position: static;
    width: 181px;
    height: 40px;
    left: 0px;
    top: 0px;
    padding-left: 8px;

    border: 1px solid #F5F5F5;
    box-sizing: border-box;
    border-radius: 40px;

    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;
}

/* set properties of the avatar frame */
.avatar {

    width: 40px;
    height: 40px;
    left: 229px;
    top: 0px;

    background: #FFFFFF;
    border: 1px solid #F5F5F5;
    box-sizing: border-box;
    border-radius: 40px;

    /* Inside Auto Layout */

    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 0px 24px;
}

/* set properties of the face image */
.toyface {
    /* ToyFaces_Colored_BG_8 1 */
    width: 40px;
    height: 40px;
    left: 0px;
    top: 0px;

}

/* set properties of the dashboard frame */
.Dashboard-frame {
    /* menu-button/select */


    /* Auto Layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px 12px;

    position: absolute;
    width: 164px;
    height: 41px;
    left: 29px;
    top: 207px;

    background: rgba(13, 120, 190, 0.35);
    border-radius: 50px;

}


.text_focus {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */

    color: #000000;


    /* Inside Auto Layout */
    flex: none;
    order: 1;
    align-self: center;
    flex-grow: 0;
    margin: 0px 16px;
}

/* set properties of the hyperlink text */
a{
    text-decoration: none;
}

/* set properties of each item in the navigation bar */
.nav-item {
    top: 400px;
    height: 500px;
}

.text_normal {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */

    color: #000000;


    /* Inside Auto Layout */
    flex: none;
    order: 1;
    align-self: center;
    flex-grow: 0;
    margin: 0px 16px;
}


.HC-frame {

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 12px;

    position: absolute;
    width: 98px;
    height: 41px;
    left: 29px;
    top: 265px;

    background: #FFFFFF;
    border-radius: 50px;
}

.Documents-frame {

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 12px;

    position: absolute;
    width: 132px;
    height: 41px;
    left: 29px;
    top: 322px;

    background: #FFFFFF;
    border-radius: 50px;
}


.Settings-frame {
    /* menu-button/normal */


    /* Auto Layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 12px;

    position: absolute;
    width: 131px;
    height: 41px;
    left: 29px;
    top: 379px;

    background: #FFFFFF;
    border-radius: 50px;
}


.Logout-frame {
    /* menu-button/normal */


    /* Auto Layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 12px;

    position: absolute;
    width: 131px;
    height: 41px;
    left: 29px;
    top: 437px;

    background: #FFFFFF;
    border-radius: 50px;
}


.top-nav {
    /* Top Nav */

    position: absolute;
    width: 682px;
    height: 98px;
    left: 947px;
    top: 62px;

}


.greeting {
    /* Hi User! Welcome! */

    position: absolute;
    width: 710px;
    height: 23px;
    left: 13px;
    top: 37px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 65px;

    color: rgba(0, 0, 0, 0.5);
}

.historical {
    position: absolute;
    height: 584px;
    left: 318px;
    right: 18px;
    top: 409px;
}

/* set properties of the additional info box*/
.additional-info {
    position: absolute;
    width: 342px;
    height: 546px;
    right: 0px;
    top: 0px;
}

/* set properties of the general input*/
input {
    position: relative;
    margin-top:0px;
    margin-bottom: 5px;
    border: None;
    width: 117px;
}
