{% from "macros.html" import nav_link with context %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{% block title%}Default title{% endblock title %}</title>
    <!-- Add any needed scripts needed for each page -->
    {% block head_scripts %} {% endblock %}
    <!-- Add the appropriate CSS file to each page if needed-->
    {% block css %}
    <link rel="stylesheet" href="../static/style.css"> {% endblock %}

    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>

    <!-- Chart Libraries + Styles -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js">
        script >
    </script>
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega@4"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-lite@3.0.0-rc12"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-embed@3"></script>
    <script src="https://vega.github.io/datalib/datalib.min.js"></script>
    <link rel="stlesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/vega-tooltip@0.16.0/vega-tooltip.scss">
    <script src="https://cdn.jsdelivr.net/npm/vega-tooltip@0.16.0/build/vega-tooltip.min.js"></script>

    <!-- Javascript for rendering charts -->
    <script type="text/javascript">
        function parse(url, div) {
            var opt = {
                mode: "vega-lite",
                renderer: "svg",
                actions: {
                    export: true,
                    source: false,
                    editor: false
                }
            };
            vegaEmbed("#" + div, url, opt, function(error, result) {
                // result.view is the Vega View, url is the original Vega-Lite specification
                vegaTooltip.vegaLite(result.view, url);
            });
        }
    </script>
</head>

<body>
    {% block body %}
    <!-- set the top blank space -->
    <div class='top-container'>
        <!-- login message -->
        <div class="col-md-8">
            {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %} {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
            {% endfor %} {% endif %} {% endwith %}
        </div>

    </div>
    <!-- Section containing sidebar view-->
    <div class="nav-container">
        <div class='wrapper'>
            <!-- Section the logo/title of website-->
            <div class="logo">
                Minerva Grades
            </div>

        </div>
        <!-- set a container for all navigation items -->
        <div class="nav-item">
            <ul>
                {{ nav_link( "dashboard", "Dashboard", "home-select.svg") }} {{ nav_link( "hcs", "HCs","chart.svg") }} {{ nav_link( "courses", "Courses","documents.svg") }} {{ nav_link( "logout", "Logout", "logout.svg") }}
            </ul>
        </div>
    </div>

    <!-- set the dividing line between the left and right parts -->
    <div class="Line1">
    </div>

    <!-- set a container for the middle right help section -->
    <div class="help-button">
        <img class="help-button-out" src="../static/images/_.svg" alt="help-button-out">
        <img class="help-button-in" src="../static/images/Ellipse1.svg" alt="help-button-in">
        <!--TODO: will we have another Help page? Or will it be just modal dialog (pop-up info)? -->
        <a id="help-link" href="#">Help</a>
    </div>
    {% endblock %}
    <!-- Additional personalized content place for each page-->
    {% block content %}
    <!-- set a container for the top left greetings -->
    <div class="top-nav">
        <p class='greeting'> {% block greeting %} {% endblock%} </p>
    </div>
    <!-- set a container for the entire dataviz section -->
    <div class="historical">
        <div class="historical-sheet">
            <div class="dataviz">
                <p class="dataviz_title">{% block dataviz_title %} {% endblock%}</p>
                <div class="full-graph">
                    {% block dataviz %} {% endblock %}
                </div>
            </div>
            <div class="additional-info">
                {% block table_info%} {% endblock %}
            </div>
        </div>
    </div>
    <!-- set a container for explanatory information on the right -->



    {% endblock %}


</body>