<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Minerva Grade - Dashboard</title>

    <!--Bootstrap Login Style-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!--Bootstrap Login Style-->

    <link rel="stylesheet" type="text/css" href="style.css">
    <!--Custom Font-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

</head>

<body>
    {% from "macros.html" import nav_link with context %}
    {% from "macros.html" import info_table with context %}
    {% from "macros.html" import dropdown_list with context %}
    {% extends "base.html" %}
    <!-- Add pages title-->
    {% block title %}Dashboard{% endblock %}
    <!-- Import all parent elements from base layout-->
    {% block body%} {{ super() }} {% endblock%}
    <!-- Addional content -->
    {% block content %}
    <!-- Add Dashboard greeting-->
    <!-- TODO: Query user name? -->
    <!-- set a container for the top left greetings -->
    <div class="top-nav">
        <p class='greeting'> {% block greeting %} Courses breakdown {% endblock%} </p>
    </div>

    <!-- create dropdown list from macro -->
    {{ dropdown_list(form.course) }}

    <!-- set a container for the whole bottom sheet -->
    <div class="historical">
        <div class="historical-sheet">
            <p class="dataviz_title">{% block dataviz_title %} Course Grade for: {{ course }} {% endblock%}</p>
            <div class="full-graph">
                {% block dataviz %}
                <!-- generate course grade data viz -->
                <script type="text/javascript">
                    parse("/courses/cg", "cg");
                </script>
                <div id="cg"></div>
                {% endblock %}
            </div>
        </div>

        <!-- create course info table from macro -->
        {% block table_info%}

        {{ info_table(title, headings, data) }}
        {% endblock %}
    </div>


    {% endblock %}

    </div>

</body>

</html>