{% from "macros.html" import nav_link with context %} {% extends "base.html" %}
<!-- Add pages title-->
{% block title %}Dashboard{% endblock %}
<!-- Import all parent elements from base layout-->
{% block body%} {{ super() }} {% endblock%}
<!-- Addional content -->
{% block content %}
<!-- Add Dashboard greeting-->
<!-- TODO: Query user name? -->
<!-- set a container for the top left greetings -->
<div class="top-nav">
    <p class='greeting'> {% block greeting %} HCs Breakdown {% endblock%} </p>
</div>

    <script type="text/javascript">
    parse("hcs/hc","hc");
    </script>
    <div id="hc"></div>
{% endblock %}