<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Minerva Grade - Dashboard</title>
	
	<!--Bootstrap Login Style-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<!--Bootstrap Login Style-->

	<link rel="stylesheet" type="text/css" href="../static/login_style.css">
	<!--Custom Font-->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
	<!--[if lt IE 9]>
	<script src="js/html5shiv.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	<!--Loading Spinner Jquery-->
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
	<script>
    $(document).ready(function () {

        $("#login").submit(function (e) {
            //disable the submit button
            $("#submit").attr("disabled", true);
            return true;
        });
    });
	</script>

</head>
<body>
	<div class = "left">
		<div class="title"> Minerva Grades </div>	
		<div class="intro"> 
			<p class="big-intro">A Dashboard Tool for Minerva Students to Understand Their Grade</p>
			<p class="small-intro">Welcome back, please enter your Session ID</p>
		</div>

		<div class="sessionid-container">
			<form id = 'login' method="POST" action="" onclick="this.form.submit();">
			<!--Flask Login Tag-->
			{{ form.hidden_tag() }}
				<fieldset class="form-group" >

					<div class="form-group">
						{{ form.sessionID.label(class="form-control-label") }}
						{% if form.sessionID.errors %}
								{{ form.sessionID(class="form-control form-control-lg is-invalid") }}
								<div class="invalid-feedback">
										{% for error in form.sessionID.errors %}
												<span>{{ error }}</span>
										{% endfor %}
								</div>
						{% else %}
								{{ form.sessionID(class="form-control form-control-lg") }}
						{% endif %}
					</div>
					<a href="#">How to Find Your Session ID</a>
				</fieldset>
			
				<div class="form-group" onclick="$('#loading').show()">
					{{ form.submit(class="btn btn-outline-info" ) }}
				</div>
			</form>
			<div id="loading" style="display:none;"><img src="../static/images/loginSpinner.gif" alt=""; />Asking Forum For Your Grades!</div>
		</div>

		<div class="container">
      <div class="col-md-8">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="alert alert-{{ category }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
      </div>
      
      {% block content %}{% endblock %}
    </div>


	<div class="right">
		
		<nav class="topnav">
			<a class="active" id="Home" href="#">Home</a>
			<a id="About" href="#">About Us</a>
			<a id="Contact" href="#">Contact</a>	
		</nav>
	
		  <img src="../static/images/drawing.png" alt="drawing"/>
	</div>   
</body>
</html>