<!-- Navigation SideBar -->
{% macro nav_link(endpoint, text, image) %} {% if request.endpoint.endswith(endpoint) %}
<li class="active">
    <img src="static/images/{{ image }}" alt="{{text}}-face">
    <a class='text_focus' href="{{ url_for(endpoint) }}">{{ text }}</a>
</li>
{% else %}
<li class="inactive">
    <img src="static/images/{{ image }}" alt="{{text}}-face">
    <a class='text_normal' href="{{ url_for(endpoint) }}">{{ text }}</a>
</li>
{% endif %} {% endmacro %}

<!-- Potential other macros-->
<!-- Display Filter Button -->
<!-- Additonal Info Table -->
{% macro info_table_title(title) -%}
{{ title }}
{%- endmacro %}

{% macro info_table_content(headings, data) -%}
<div class="table">
    <table class="fixed_header">
        <thead>
            <tr>
                {% for i in headings %}
                <th>{{ i }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                {% for column in row %}
                <td>{{ column }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{%- endmacro %}

{% macro info_table(title, headings, data) -%}
<div class="additional-info">
    <div class="table-title">
        {{ info_table_title(title) }}
    </div>
    {{ info_table_content(headings, data) }}
</div>
{%- endmacro %}

{% macro info_table_content_hc(headings, data) -%}
    <div class="table">
    <table class="fixed_header_hc">
        <thead>
                <tr>
                    {% for i in headings %}
                        <th>{{ i }}</th>
                    {% endfor %}
                </tr>
        </thead>
        <tbody>
            {% for user in data %}
            <tr>
                <td><a href="/{{user.name}}"> #{{ user.name }} </a></td>
                <td>{{ user.Courses }}</td>
                <td>{{ user.hcgrade }}</td>
                {% if user.transfer == True %}
                    <td class="true-transfer">{{ user.transfer }}</td>
                {% else %}
                    <td class="false-transfer">{{ user.transfer }}</td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{%- endmacro %}

{% macro info_table_hc(title, headings, data) -%}
<div class="additional-info">
    <div class="table-title">
        {{ info_table_title(title) }}
    </div>
    {{ info_table_content_hc(headings, data) }}
</div>
{%- endmacro %}

<!-- Course selection dropdown -->
{% macro dropdown_list(variable) %}
<div class="select-frame">
    <div class="select-bound">
        <form method="POST">
            <div class="select-content">
                {{ form.csrf_token }}
                {{ variable }}
            </div>
            <input style="
                background: #0D78BE; 
                color:white;
                margin: 5px;
                border-radius: 10px;"
                type="submit" value="Submit" class="select-submit">
        </form>
    </div>
</div>
{%- endmacro %}